@import '_content/KristofferStrube.Blazor.Relewise/KristofferStrube.Blazor.Relewise.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-t730dw2tnh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-t730dw2tnh] {
    flex: 1;
}

.sidebar[b-t730dw2tnh] {
    background-image: linear-gradient(180deg, var(--color-blue) 0%, var(--color-blue-light) 100%);
}

.top-row[b-t730dw2tnh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t730dw2tnh]  a, .top-row[b-t730dw2tnh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-t730dw2tnh]  a:hover, .top-row[b-t730dw2tnh]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-t730dw2tnh]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-t730dw2tnh] {
        justify-content: space-between;
    }

    .top-row[b-t730dw2tnh]  a, .top-row[b-t730dw2tnh]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-t730dw2tnh] {
        flex-direction: row;
    }

    .sidebar[b-t730dw2tnh] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-t730dw2tnh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-t730dw2tnh]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-t730dw2tnh], article[b-t730dw2tnh] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-t5av7sifgs] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-t5av7sifgs] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-t5av7sifgs] {
    font-size: 1.1rem;
}

.bi[b-t5av7sifgs] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-t5av7sifgs] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.nav-item[b-t5av7sifgs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-t5av7sifgs] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-t5av7sifgs] {
        padding-bottom: 1rem;
    }

    .nav-item[b-t5av7sifgs]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-t5av7sifgs]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-t5av7sifgs]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-t5av7sifgs] {
        display: none;
    }

    .collapse[b-t5av7sifgs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-t5av7sifgs] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/RecommendationConstructor.razor.rz.scp.css */
.box[b-mgci47w3dt] {
    border: 1px solid var(--color-green);
    border-radius: 5px;
}

.two-column-grid[b-mgci47w3dt] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 10px;
    padding: 5px;
}

summary[b-mgci47w3dt] {
    padding-left: 5px;
    background-color: var(--color-green);
    font-size: 20px;
}
/* /Shared/SearchConstructor.razor.rz.scp.css */
.box[b-9oyvq311d3] {
    border: 1px solid var(--color-green);
    border-radius: 5px;
}

.two-column-grid[b-9oyvq311d3] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 10px;
    padding: 5px;
}

summary[b-9oyvq311d3] {
    padding-left: 5px;
    background-color: var(--color-green);
    font-size: 20px;
}
