/* _content/KristofferStrube.Blazor.Relewise/TypeEditors/ArrayEditor.razor.rz.scp.css */
.box[b-6j6zpjbvd6] {
    border: 1px solid var(--color-blue-light);
    border-radius: 5px;
}

.two-column-grid[b-6j6zpjbvd6] {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px 10px;
    padding: 5px;
}

summary[b-6j6zpjbvd6] {
    padding-left: 5px;
    background-color: var(--color-blue-light);
    color: white;
}
/* _content/KristofferStrube.Blazor.Relewise/TypeEditors/DataValueEditor.razor.rz.scp.css */
.box[b-j3o642dh3i] {
    border: 1px solid var(--color-blue-light);
    border-radius: 5px;
}

.two-column-grid[b-j3o642dh3i] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 10px;
    padding: 5px;
}

summary[b-j3o642dh3i] {
    padding-left: 5px;
    background-color: var(--color-blue-light);
    color: white;
}
/* _content/KristofferStrube.Blazor.Relewise/TypeEditors/DictionaryEditor.razor.rz.scp.css */
.box[b-jkerczqp3m] {
    border: 1px solid var(--color-blue-light);
    border-radius: 5px;
}

.three-column-grid[b-jkerczqp3m] {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px 10px;
    padding: 5px;
}

summary[b-jkerczqp3m] {
    padding-left: 5px;
    background-color: var(--color-blue-light);
    color: white;
}
/* _content/KristofferStrube.Blazor.Relewise/TypeEditors/ListEditor.razor.rz.scp.css */
.box[b-beot4j82v4] {
    border: 1px solid var(--color-blue-light);
    border-radius: 5px;
}

.two-column-grid[b-beot4j82v4] {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px 10px;
    padding: 5px;
}

summary[b-beot4j82v4] {
    padding-left: 5px;
    background-color: var(--color-blue-light);
    color: white;
}
/* _content/KristofferStrube.Blazor.Relewise/TypeEditors/ObjectEditor.razor.rz.scp.css */
.box[b-6a3r2brzhi] {
    border: 1px solid var(--color-blue-light);
    border-radius: 5px;
}

.two-column-grid[b-6a3r2brzhi] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 10px;
    padding: 5px;
}

summary[b-6a3r2brzhi] {
    padding-left: 5px;
    background-color: var(--color-blue-light);
    color: white;
}
